/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit;}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Begin site styles... */

/* Using a Major Third modular scale:
*  https://www.modularscale.com/?18&px&1.25
*/
html{
  font-family: sans-serif;
  font-size: 1.125em; /* 18px / 16px = 1.125em */
  line-height: 1.2222222222em; /* 22 / 18 = 1.2222222222  */
}
.header-logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.navigation-panel{
  font-family: futura-pt;
  font-size: 0.8125em; /* 13 / 16 = 0.8125 */
  letter-spacing: .25em; /* 4 / 16 = 0.25 */
  text-transform: uppercase;
  text-align: center;
}
.mobile-navigation-panel{
  display: none;
}
a{
  text-decoration: none;
}
.index-image{
  max-width: 100%;
}
.centered-titles{
  margin: .67em 0; /* 10.72 / 16 = 0.67 */
  color: #4b495f;
  font-family: bebas-neue;
  font-size: 3em; /* 48 / 16 = 3 */
  letter-spacing: -.04em;  /* 0.64 / 16 = 0.04 */
  line-height: .3em; /* 4.8 / 16 = 0.3 */
  text-transform: uppercase;
  text-align: center;
}
.container{
  padding: 0em 2em;
  display: grid;
  grid-gap: 2em; /* 66/22 = 3em */
}
figure{
  padding-bottom: 1em;
}
.small-image{
  max-width: 100%;
}
figcaption{
  padding-bottom: 1em;
}
h2{
  padding: 1em 0; /* 32 / 16 = 2 */
  font-style: normal;
  font-family: futura-pt;
  font-weight: bold;
  font-size: 0.875em; /* 14 / 16 = 0.875 */
  color: #4b495f;
  letter-spacing: .22em; /* 3.52 / 16 = 0.22 */
  line-height: 1.5em; /* 24 / 16 = 1.5 */
  text-transform: uppercase;
}
.learn-more-buttons{
  padding: 1em 0; /* 1em = 16px */
  color: #4b495f;
  padding: 0.7em; /* 11.2 / 16 = 0.7 */
  border-style: solid;
  border-width: thin;
  border-radius: 1.25em; /* 20 / 16 = 1.25 */
}
#footer{
  /* display: flex; */
  /* flex-direction: column; */
  padding: 2em 0; /* 32 / 16 = 2 */
  text-align: center;
  background-color: #4b495f;
  margin: 2em auto 0; /* 32 / 16 = 2 */
}
.footer-nav-items > a {
  color: #fff;
  text-decoration: none;
  margin: 0 0.555em;
}
.footer-middle-bottom{
  color: rgba(255,255,255,.72);
  padding-top: 3em; /* 48 / 16 = 3 */
}

/* Media Queries */
/* 680px || 680 / 16 = 42.5em */
@media screen and (min-width: 42.6em){
  .container{display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
  }
  figure{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .learn-more-buttons{
    text-align: center;
  }
  .footer-nav-items >a{
    margin: 0 3em;
  }
}
/* 770px || 770 / 16 = 48.125em */
@media screen and (min-width: 48.125em){
  .navigation-panel{
    display: flex;
    justify-content: space-around;
  }
  .container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
  }
  .footer-nav-items >a{
    margin: 0 4em;
  }
}
/* 1090px || 1090 / 16 = 68.125em */
@media screen and (min-width: 68.125em){
  .header-logo{
    display: none;
  }
  .navigation-panel{
    display: none;
  }
  .mobile-navigation-panel{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: futura-pt;
    font-size: 0.8125em; /* 13 / 16 = 0.8125 */
    letter-spacing: .25em; /* 4 / 16 = 0.25 */
    text-transform: uppercase;
    text-align: center;
  }
  .footer-nav-items >a{
    margin: 0 4em;
  }
}
